In [62]:
# string to int 
# use ==> int() constructor
a='10'
print(a,type(a))
b=int(a)
print(b,type(b))

10 <class 'str'>
10 <class 'int'>

In [63]:
# int to string
# use ==> str() constructor
a=10
print(a,type(a))
b=str(a)
print(b,type(b)) # o/p will not shown inside quotes because print function format 
# but want to see o/p inside quotes then in jupyter notebook type variable without print function.link that ==>
b,type(b)

10 <class 'int'>
10 <class 'str'>

('10', str)

In [64]:
# int to float
# use ==> float() constructor
a=10
print(a,type(a))
b=float(a)
print(b,type(b))

10 <class 'int'>
10.0 <class 'float'>

In [65]:
# float to int
# use ==> int() constructor
a=10.0
print(a,type(a))
b=int(a)
print(b,type(b))

10.0 <class 'float'>
10 <class 'int'>

In [66]:
# interview question?

# string to int 
a='10.0'
print(a,type(a))
b=int(a)
print(b,type(b))
# if we convert float-string into int. directly then give error will be shown. 
# To resolve this error, see next sell...

10.0 <class 'str'>

ValueError: invalid literal for int() with base 10: '10.0'

In [ ]:
# interview question?
# To resolve this error,

# string to int 
# a='10.0'
# print(a,type(a))
# b=float(a)
# print(b,type(b))
# c=int(b)
# print(c,type(c))

# to write full code in less lines
a='10.0'
b=print(int(float(a)))

print(b,type(b))
print(a,type(a))

10
None <class 'NoneType'>
10.0 <class 'str'>

In [ ]:
a=10.0
print(type(int(a)))
type(a)
# NOTE: jab bhi ham casting karte hai to original variable hai changes nagi karte hai , uski a copy create karte hai aur usmai changes karte hai?

<class 'int'>

float

In [ ]:
# string to float to int (but element should be convertable like 'ak' to int not convertable so, remember it.)

a=int(float(input("Enter your 1st number:")))
b=int(float(input("Enter your 2nd number:")))
a+b

101

In [ ]:
a=input() # input function always take arrgument as a string
a=input('enter your number :')
a,type(a)

In [ ]:
# eval(): this function convert elements into int. and float but element should be convertable . Means we cann't convert str. into int or float because it's not convertable into thease datatypes.

a=eval(input("Enter your 1st number : "))
b=eval(input("Enter your 2nd number :  "))
a+b

129.60000000000002

In [ ]:
# we can also use eval fun. like that:
a=input("Enter your 1st number : ")
b=input("Enter your 2nd number :  ")
eval(a)+eval(b)

134.9